<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
	        <div class="btn-group-sm" id="toolbar" >
		        <a class="btn btn-success" onclick="$.operate.add()" >
		            <i class="fa fa-plus"></i> 邀请
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "/task/projectuser/";
		var projectId = [[${projectId}]];
        $(function() {
            var options = {
                url: prefix + "/list/" + projectId,
                createUrl: prefix + "/add/"+projectId,
                removeUrl: prefix + "/remove",
                modalName: "用户列表",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'user.userName',
                    title: '姓名'
                },
                {
                	field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if(value == 0){
                        	return "未处理"
                        } else if(value == 1) {
                        	return "同意"
                        } else {
                        	return "不同意"
                        }
                    }
                }]
            };
            $.table.init(options);
        });
         
    </script>
</body>
</html>