<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.task.dao.TaskfileDao" >

	<select id="listByTaskId" parameterType="Long" resultType="Taskfile">
		select
			a.id,
			a.name,
			a.path,
			a.task_id as "task.id"
		from task_file a where a.task_id = #{taskId}
	</select>
	
	<insert id="add">
		insert into task_file(name,path,task_id) values (#{name},#{path},#{task.id})
	</insert>
	
	<delete id="deleteById">
		delete from task_file where id = #{id}
	</delete>
	


</mapper>