<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.task.dao.TempstepDao" >

	<sql id="selectAllVO">
		select
			a.id,
			a.name,
			a.sort,
			a.remark,
			a.temp_id as "temp.id"
		from task_temp_step a  
	</sql>
	
	
	<select id="listByTempId" parameterType="Long" resultType="Tempstep" >
		<include refid="selectAllVO" />
		where a.temp_id = #{tempId}
		order by a.sort desc
	</select>
	
	
	<select id="getById" parameterType="Long" resultType="Tempstep" >
		<include refid="selectAllVO" />
		where a.id = #{id}
	</select>
	
	
	<insert id="add">
		insert into task_temp_step(name,sort,remark,temp_id) values (#{name},#{sort},#{remark},#{temp.id})		
	</insert>
	
	
	<update id="update">
		update task_temp_step set name = #{name},sort = #{sort},remark = #{remark} where id = #{id}
	</update>
	
	
	<delete id="deleteByIds">
		delete from task_temp_step
		where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	

</mapper>